* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 3rem;
    padding-right:50px ;
}

ul li {
    list-style: none;
}

.logo {
    padding-left: 30px;
}

.online {
    padding-top: 10%;
    font-size: 70px;
    text-align: center;
    padding-left: 20%;
    color:white;
}

.bodycontent {
    background: url(images/pinterest4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.content {
    display: flex;
}

img {
    height: 450px;
}

.content1 {
    text-align: center;
    color: black;
    padding-top: 80px;
}

.B {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

p {
    margin-bottom: 10px;
}