* {
    padding: 0;
    margin: 0;
}

body {
    background: url(images/pexel1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    padding: 20px;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5rem;
    color: white;
}

ul {
    display: flex;
    gap: 4rem;
    white-space: nowrap;
}

.name {
    padding-left: 100px;
    color:yellow;
    font-size: 20px;
}

button {
    padding: 10px 30px;
    background-color: #e6bd2b;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

ul li {
    list-style: none;
}

.bodycontent {
    color: white;
    text-align: center;
    padding-top: 12%;
}

span {
    color: white;
}

.name1 {
    color: yellow;
    font-size: 70px;
}

.work {
    font-size: 40px;
    color: yellow;
}

p {
    margin-bottom: 20px;
}

.lorem {
    font-size: 20px;
}

.btn1 {
    padding: 10px 40px;
    margin-right: 10px;
}

.btn2 {
    padding: 10px 40px;
    background-color: white;
    color: black;
}